<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hava Durumu</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-info">
        <div class="hero-body">
            <div class="container is-fluid">
                <h1  class="title">
                    Bugün Hava Nasıl?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{form.name}}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info">
                                    Şehir Ekle
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{city_weather.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{city_weather.city}}</span>
                                        <br> 
                                        <span class="subtitle">{{city_weather.temperature}} °C</span>
                                        <br> {{city_weather.description}}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %} 
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered has-background-info">
            <a href="https://github.com/umutbozdag"> <h4 class="has-text-centered">Umut Bozdağ</h4></a>
        </div>
    </footer>
</body>

</html>